In [1]:
import selenium
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import time
import requests

from selenium.webdriver.common.keys import Keys
import selenium.common.exceptions
from selenium.common.exceptions import NoSuchElementException

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
driver = webdriver.Chrome()
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [7]:
rank = []
name = []
artist = []
upload_date = []
views = []

try:
    ranks = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
    for i in ranks[:30]:
        rank.append(i.text)
        
except Exception as e:
    print("Error Occured : ",str(e))

try:
    names = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
    for i in names[:30]:
        name.append(i.text)
        
except Exception as e:
    print("Error Occured : ",str(e))
    
try:
    artists = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
    for i in artists[:30]:
        artist.append(i.text)
        
except Exception as e:
    print("Error Occured : ",str(e))
    
try:
    view = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
    for i in view[:30]:
        views.append(i.text)
        
except Exception as e:
    print("Error Occured : ",str(e))
    
try:
    uploads = driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
    for i in uploads[:30]:
        upload_date.append(i.text)
        
except Exception as e:
    print("Error Occured : ",str(e))

In [8]:
print(len(rank),len(upload_date),len(name),len(artist),len(views))

30 30 30 30 30

In [9]:
df = pd.DataFrame({
    "Rank" : rank,
    "Name" : name,
    "Artist" : artist,
    "Views" : views,
    "Publication Date" : upload_date
})
df

,Rank,Name,Artist,Views,Publication Date
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.48,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.28,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.82,"October 8, 2016"
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.45,"May 2, 2018"
4,5.,"""Shape of You""[19]",Ed Sheeran,6.11,"January 30, 2017"
5,6.,"""See You Again""[22]",Wiz Khalifa,6.05,"April 6, 2015"
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.62,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.52,"March 6, 2014"
8,9.,"""Uptown Funk""[29]",Mark Ronson,5.05,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,4.99,"February 27, 2018"
10,11.,"""Gangnam Style""[31]",officialpsy,4.92,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.56,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,4.46,"April 5, 2018"
13,14.,"""Axel F""[38]",Crazy Frog,4.09,"June 16, 2009"
14,15.,"""Sugar""[39]",Maroon 5,3.95,"January 14, 2015"
15,16.,"""Counting Stars""[40]",OneRepublic,3.89,"May 31, 2013"
16,17.,"""Roar""[41]",Katy Perry,3.89,"September 5, 2013"
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,3.80,"June 25, 2018"
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.75,"June 4, 2010"
19,20.,"""Sorry""[44]",Justin Bieber,3.72,"October 22, 2015"
20,21.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.71,"June 14, 2018"
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,3.67,"October 7, 2014"
22,23.,"""Dark Horse""[47]",Katy Perry,3.60,"February 20, 2014"
23,24.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.58,"January 26, 2018"
24,25.,"""Perfect""[49]",Ed Sheeran,3.56,"November 9, 2017"
25,26.,"""Let Her Go""[50]",Passenger,3.53,"July 25, 2012"
26,27.,"""Faded""[51]",Alan Walker,3.53,"December 3, 2015"
27,28.,"""Girls Like You""[52]",Maroon 5,3.50,"May 31, 2018"
28,29.,"""Shree Hanuman Chalisa""[53]",T-Series Bhakti Sagar,3.48,"May 10, 2011"
29,30.,"""Lean On""[54]",Major Lazer Official,3.48,"March 22, 2015"

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

You need to find following details:
A) Series
B) Place
C) Date
D) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code

In [20]:
driver = webdriver.Chrome()
driver.get('https://www.bcci.tv/results')

In [21]:
fixtures = driver.find_element(By.XPATH,'//div[@class="imw-tabs international-tabs"]/a[2]')
fixtures.click()

In [23]:
teams = driver.find_element(By.XPATH,'//div[@class="cSBDisplay ng-binding"]')
teams.click()

In [34]:
search = driver.find_element(By.XPATH,'//div[@class="cSBListSearch"]')

search.click()

In [35]:
ind = driver.find_element(By.XPATH,'//div[@class="cSBListItems ng-binding ng-scope"][17]')
ind.click()

In [36]:
series =[]
place=[]
date=[]
time=[]

try:
    seri = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
    for i in seri:
        series.append(i.text)
except:
    print("Raised Exception",e)
    
try:
    places = driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
    for i in places:
        place.append(i.text)
except:
    print("Raised Exception",e)
    
try:
    dates = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in dates:
        date.append(i.text)
except:
    print("Raised Exception",e)
    
try:
    times = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in times:
        time.append(i.text)
except:
    print("Raised Exception",e)

In [37]:
print(len(place),len(date),len(time),len(series))

110 110 110 110

In [38]:
df = pd.DataFrame({
    "Series" : series,
    "Place" : place,
    "Date" : date,
    "Time" : time
})
df

,Series,Place,Date,Time
0,ICC MENS WORLD CUP 2023,"Narendra Modi Stadium, Ahmedabad","14 OCTOBER, 2023",9:30 AM BST
1,ICC MENS WORLD CUP 2023,"Arun Jaitley Stadium, Delhi","11 OCTOBER, 2023",9:30 AM BST
2,ICC MENS WORLD CUP 2023,"MA Chidambaram Stadium, Chennai","8 OCTOBER, 2023",9:30 AM BST
3,ICC MENS WORLD CUP 2023,"Maharashtra Cricket Association Stadium, Pune","19 OCTOBER, 2023",9:30 AM BST
4,ICC MENS WORLD CUP 2023,"Himachal Pradesh Cricket Association Stadium, ...","22 OCTOBER, 2023",9:30 AM BST
...,...,...,...,...
105,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","8 SEPTEMBER, 2022",3:00 PM BST
106,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","6 SEPTEMBER, 2022",3:00 PM BST
107,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","4 SEPTEMBER, 2022",3:00 PM BST
108,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","31 AUGUST, 2022",3:00 PM BST
109,ASIA CUP 2022,"Dubai International Cricket Stadium, Dubai","28 AUGUST, 2022",3:00 PM BST

3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:

A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [47]:
driver = webdriver.Chrome()
driver.get('https://statisticstimes.com/')

In [48]:
eco = driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button')
eco.click()

In [49]:
ind = driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]')
ind.click()

In [51]:
search = driver.find_elements(By.XPATH,'//a[@class="ec"]')
for i in search[13:14]:
    i.click()

In [56]:
rank =[]
state =[] 
gsdp_18_19 =[]
gsdp_19_20 =[]
share = []
gdp =[]

try:
    ranks = driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[1]')
    for i in ranks:
        rank.append(i.text)
        
except:
    print("Exception Raised",e)
    
try:
    states = driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[2]')
    for i in states:
        state.append(i.text)
        
except:
    print("Exception Raised",e)
    
try:
    gsdp_18 = driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[3]')
    for i in gsdp_18:
        gsdp_18_19.append(i.text)
        
except:
    print("Exception Raised",e)
    
try:
    gsdp_19 = driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[4]')
    for i in gsdp_19:
        gsdp_19_20.append(i.text)
        
except:
    print("Exception Raised",e)
    
try:
    shares = driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[5]')
    for i in shares:
        share.append(i.text)
        
except:
    print("Exception Raised",e)
    
try:
    gdps = driver.find_elements(By.XPATH,'//tr[@class="odd"]/td[6]')
    for i in gdps:
        gdp.append(i.text)
        
except:
    print("Exception Raised",e)

In [57]:
print(len(rank),len(state),len(share),len(gdp),len(gsdp_18_19),len(gsdp_19_20))

34 34 34 34 34 34

In [59]:
df = pd.DataFrame({
    "Rank" : rank,
    "State" : state,
    "GSDP(18-19)- at current prices" : gsdp_18_19,
    "GSDP(19-20)- at current prices" : gsdp_19_20,
    "Share(18-19)" : share,
    "GDP($ billion)" : gdp
})
df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
2,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
3,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
4,9,Telangana,"969,604","861,031",4.56%,130.791
5,11,Kerala,-,"781,653",4.14%,118.733
6,13,Haryana,"831,610","734,163",3.89%,111.519
7,15,Punjab,"574,760","526,376",2.79%,79.957
8,17,Assam,-,"315,881",1.67%,47.982
9,19,Jharkhand,"328,598","297,204",1.57%,45.145
10,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
11,23,Goa,"80,449","73,170",0.39%,11.115
12,25,Chandigarh,-,"42,114",0.22%,6.397
13,27,Meghalaya,"36,572","33,481",0.18%,5.086
14,29,Manipur,"31,790","27,870",0.15%,4.233
15,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
16,33,Andaman & Nicobar Islands,-,-,-,-
17,1,Maharashtra,-,"2,332,992",13.97%,-
18,3,Uttar Pradesh,"1,495,758","1,404,761",8.41%,"1,015,735"
19,5,Gujarat,-,"1,322,936",7.92%,-
20,7,Rajasthan,"916,014","845,247",5.06%,"630,693"
21,9,Andhra Pradesh,"875,429","776,140",4.65%,"595,605"
22,11,Kerala,-,"707,542",4.24%,-
23,13,Haryana,"755,790","666,075",3.99%,"514,983"
24,15,Punjab,"517,521","472,506",2.83%,"374,015"
25,17,Assam,-,"282,782",1.69%,-
26,19,Chhattisgarh,"288,041","266,537",1.60%,"210,837"
27,21,Himachal Pradesh,"143,063","133,303",0.80%,"107,171"
28,23,Goa,"72,181","66,060",0.40%,"56,810"
29,25,Chandigarh,-,"37,571",0.22%,-
30,27,Meghalaya,"32,833","29,544",0.18%,"23,564"
31,29,Sikkim,"28,391","25,141",0.15%,"17,060"
32,31,Arunachal Pradesh,-,"22,488",0.13%,-
33,33,Andaman & Nicobar Islands,-,-,-,-

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
    
You have to find the following details:
    
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [133]:
driver = webdriver.Chrome()
driver.get('https://github.com/')

In [136]:
opensr = driver.find_element(By.XPATH,'//ul[@class="d-lg-flex list-style-none"]/li[3]/button')
opensr.click()

In [137]:
web = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
web.click()

In [149]:
product_data = []


try:
    
    titles = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
    desc = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    counts = driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/a[1]')
    languages = driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span/span[2]')
    
    for i in range(len(titles)):
        product_dict = {
            "Title": titles[i].text if i < len(titles) else '-',
            "Description" : desc[i].text if i < len(desc) else '-',
            "Count": counts[i].text if i < len(counts) else '-',
            "Language": languages[i].text if i < len(languages) else '-'
        }
        product_data.append(product_dict)
except Exception as e:
    print("An error occurred:", str(e))
          

df = pd.DataFrame(product_data)
print(df)

                                      Title  \
0           PWhiddy / PokemonRedExperiments
1                         LazyVim / LazyVim
2            ton-community / tact-challenge
3                          doocs / leetcode
4        iam-veeramalla / python-for-devops
5             spdustin / ChatGPT-AutoExpert
6                Yidadaa / ChatGPT-Next-Web
7                               jackc / pgx
8                      nsacyber / ELITEWOLF
9                        topjohnwu / Magisk
10                        hyprwm / Hyprland
11                   uBlockOrigin / uAssets
12                    MatsuriDayo / nekoray
13              adrianhajdin / travel_ui_ux
14  AntonioErdeljac / notion-clone-tutorial
15                 mfussenegger / nvim-lint
16                   roboflow / supervision
17                  Sangwan5688 / BlackHole
18                        mindsdb / mindsdb
19                        pi-hole / pi-hole
20                   TheAlgorithms / Python
21                            openzfs / zfs
22              facebookresearch / xformers
23                          yuzu-emu / yuzu
24                nvim-lua / kickstart.nvim

                                          Description    Count  \
0     Playing Pokemon Red with Reinforcement Learning    1,812
1                          Neovim config for the lazy    9,464
2   🔥LeetCode solutions in any programming languag...       61
3     Learn Python from DevOps Engineer point of you.   24,348
4   🚀🧠💬 Supercharged Custom Instructions for ChatG...      178
5   A well-designed cross-platform ChatGPT UI (Web...    1,363
6                PostgreSQL driver and toolkit for Go   46,432
7                    OT security monitoring #nsacyber    8,318
8                          The Magic Mask for Android      367
9   Hyprland is a highly customizable dynamic tili...   38,815
10  Resources for uBlock Origin, uMatrix: static f...   11,370
11  Qt based cross-platform GUI proxy configuratio...    2,872
12  Build and Deploy a Fully Responsive Modern UI/...    4,544
13  An asynchronous linter plugin for Neovim compl...      149
14    We write your reusable computer vision tools. 💜      316
15               A Music Player App made with Flutter    1,046
16         MindsDB connects AI models to datasources.    6,438
17           A black hole for Internet advertisements    7,318
18               All Algorithms implemented in Python   18,353
19                       OpenZFS on Linux and FreeBSD   43,850
20  Hackable and optimized Transformers building b...  171,190
21                           Nintendo Switch emulator    9,608
22  A launch point for your personal nvim configur...    5,889
23                                                  -   31,089
24                                                  -    8,153

               Language
0      Jupyter Notebook
1                   Lua
2            TypeScript
3                  Java
4                Python
5            TypeScript
6                    Go
7                   C++
8                   C++
9   Adblock Filter List
10                  C++
11           TypeScript
12           TypeScript
13                  Lua
14               Python
15                 Dart
16               Python
17                Shell
18               Python
19                    C
20               Python
21                  C++
22                  Lua
23                    -
24                    -

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
    
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [161]:
driver = webdriver.Chrome()
driver.get('https://www.billboard.com/')

In [162]:
web = driver.find_element(By.XPATH,'//li[@class="o-nav__list-item "][4]/a')
web.click()

In [169]:
name =[]
artist =[]
LWR = []
PR = []
weeks = []

try:
    names = driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/h3')
    for i in names:
        name.append(i.text)
except NoSuchElementException as e:
    name.append('-')
    
try:
    artists = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span')
    for i in artists[:400:4]:
        artist.append(i.text)
except NoSuchElementException as e:
    artist.append('-')
    
try:
    lwrs = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span')
    for i in lwrs[:200:2]:                
        LWR.append(i.text)
except NoSuchElementException as e:
    LWR.append('-')
    
try:
    prs = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]/span')
    for i in prs:
        PR.append(i.text)
except NoSuchElementException as e:
    PR.append('-')
    
try:
    week = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span')
    for i in week[1:200:2]:
        weeks.append(i.text)
except NoSuchElementException as e:
    weeks.append('-')

In [170]:
print(len(name),len(artist),len(LWR),len(PR),len(weeks))

100 100 100 100 100

In [171]:
df = pd.DataFrame({
    "Song name" : name,
    "Artist name" : artist,
    "Last week rank" : LWR,
    "Peak rank" : PR,
    "Weeks on board" : weeks
})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Paint The Town Red,Doja Cat,1,1,9
1,Snooze,SZA,2,2,43
2,Cruel Summer,Taylor Swift,4,3,22
3,Fast Car,Luke Combs,3,2,28
4,3D,Jung Kook & Jack Harlow,-,5,1
...,...,...,...,...,...
95,Long Journey,Rod Wave,75,39,3
96,But I Got A Beer In My Hand,Luke Bryan,-,92,3
97,Rubicon,Peso Pluma,-,63,12
98,East Side Of Sorrow,Zach Bryan,95,18,6
99,Where She Goes,Bad Bunny,-,8,19

6. Scrape the details of Highest selling novels.

A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [172]:
driver = webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [175]:
book = []
author = []
volume = []
publisher = []
genre = []

try:
    books = driver.find_elements(By.XPATH,'//td[@class="left"][2]')
    for i in books:
        book.append(i.text)
except NoSuchElementException as e:
    book.append('-')
    
try:
    authors = driver.find_elements(By.XPATH,'//td[@class="left"][3]')
    for i in authors:
        author.append(i.text)
except NoSuchElementException as e:
    author.append('-')
    
try:
    volumes = driver.find_elements(By.XPATH,'//td[@class="left"][4]')
    for i in volumes:
        volume.append(i.text)
except NoSuchElementException as e:
    volume.append('-')
    
try:
    publishers = driver.find_elements(By.XPATH,'//td[@class="left"][5]')
    for i in publishers:
        publisher.append(i.text)
except NoSuchElementException as e:
    publisher.append('-')
    
try:
    genres = driver.find_elements(By.XPATH,'//td[@class="last left"]')
    for i in genres:
        genre.append(i.text)
except NoSuchElementException as e:
    genre.append('-')

In [176]:
print(len(genre),len(publisher),len(volume),len(book),len(name))

100 100 100 100 100

In [177]:
df = pd.DataFrame({
    "Book name" : book,
    "Author name" : name,
    "Volumes sold" : volume,
    "Publisher" : publisher,
    "Genre" : genre
})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The",Paint The Town Red,"5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,Snooze,"4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,Cruel Summer,"4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,Fast Car,"4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,3D,"3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The",Long Journey,"807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,But I Got A Beer In My Hand,"794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy",Rubicon,"792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...",East Side Of Sorrow,"791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,Where She Goes,"791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/ 

You have to find the following details:
    
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [178]:
driver = webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls095964455/')

In [179]:
name = []
year = []
genre = []
run_time = []
rating = []
votes = []

try:
    names = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in names:
        name.append(i.text)
        
except NoSuchElementException as e:
    name.append('-')
    
try:
    years = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
    for i in years:
        year.append(i.text)
        
except NoSuchElementException as e:
    year.append('-')
    
try:
    genres = driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in genres:
        genre.append(i.text)
        
except NoSuchElementException as e:
    genre.append('-')
    
try:
    run = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in run:
        run_time.append(i.text)
        
except NoSuchElementException as e:
    run_time.append('-')
    
    
try:
    ratings = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
    for i in ratings:
        rating.append(i.text)
        
except NoSuchElementException as e:
    rating.append('-')
    
try:
    vote = driver.find_elements(By.XPATH,'//span[@name="nv"]')
    for i in vote:
        votes.append(i.text)
        
except NoSuchElementException as e:
    votes.append('-')

In [180]:
print(len(votes),len(rating),len(run_time),len(year),len(name),len(genre))

100 100 100 100 100 100

In [181]:
df = pd.DataFrame({
    "Name" : name,
    "Year span" : year,
    "Genre" : genre,
    "Run time" : run_time,
    "Ratings" : rating,
    "Votes" : votes
})
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,212,566"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,282,561"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.1,"1,049,815"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"308,486"
4,The 100,(2014– ),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,457"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,938"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,009"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,823"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,085"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"269,176"

8. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/ 
    
You have to find the following details:
    
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute 
G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [41]:
driver = webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [42]:
web = driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
web.click()

In [44]:
exp = driver.find_element(By.XPATH,'//span[@class="swap-on text-primary-content"]')
exp.click()

In [45]:
product_list = []

for i in range(0,66):
    
    try:
        
        names = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
        typ = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
        tasks = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
        attri = driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[2]')
        instance = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
        att = driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
        years = driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 overflow-x-auto"]/table/tbody/tr/td[3]')
                                   
        for i in range(len(names)):
            product_dict = {
                "Dataset Name": names[i].text if i < len(names) else '-',
                "Data Type" : typ[i].text if i < len(typ) else '-',
                "Task": tasks[i].text if i < len(tasks) else '-',
                "Attibute Type": attri[i].text if i < len(attri) else '-',
                "No Of Instances" : instance[i].text if i < len(instance) else '-',
                "No Of Attributes" : att[i].text if i < len(att) else '-',
                "Years": years[i].text.split('/')[-1] if i < len(years) else '-'

            }
            product_list.append(product_dict)
                                   
        while True:
                                   
            try:
                next_button = driver.find_element(By.XPATH,'//button[@class="btn-primary btn-sm btn"][2]')
                next_button.click()
                time.sleep(5)
            
            except Exception:
                break
                time.sleep(3)
        
        

    except Exception as e:
        print("An error occurred:", str(e))
    
df = pd.DataFrame(product_list) 
print(df)

                             Dataset Name     Data Type            Task  \
0                                    Iris       Tabular  Classification
1                           Heart Disease  Multivariate  Classification
2                                   Adult  Multivariate  Classification
3                                    Wine       Tabular  Classification
4                                Diabetes
..                                    ...           ...             ...
655  Breast Cancer Wisconsin (Diagnostic)  Multivariate  Classification
656                      Dry Bean Dataset  Multivariate  Classification
657                        Car Evaluation  Multivariate  Classification
658            Rice (Cammeo and Osmancik)  Multivariate  Classification
659                              Mushroom  Multivariate  Classification

                  Attibute Type   No Of Instances No Of Attributes Years
0                          Real     150 Instances       4 Features  1988
1    Categorical, Integer, Real     303 Instances      13 Features  1988
2          Categorical, Integer  48.84K Instances      14 Features  1996
3                 Integer, Real     178 Instances      13 Features  1991
4          Categorical, Integer                        20 Features     A
..                          ...               ...              ...   ...
655                        Real     569 Instances      30 Features  1995
656               Integer, Real  13.61K Instances      16 Features  2020
657                 Categorical   1.73K Instances       6 Features  1997
658                        Real   3.81K Instances       8 Features  2019
659                 Categorical   8.12K Instances      22 Features  1987

[660 rows x 7 columns]